* { 
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    /*background-color: #1f1f1f;*/
    margin: 0px;
    color: white;
}

#background {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h1 {
    text-align: center;
    font-size: 300%;
    margin-bottom: 2.5rem;
}

p {
    padding-left: 7rem;
    padding-right: 7rem;
}

#me {
    display: block;
    width: clamp(150px, 25vw, 230px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.sticky {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    margin-top: -1rem;
    margin-bottom: 0rem;
    text-align: left;
    font-size: clamp(1rem, 2vw, 1.75rem);
    position: sticky;
    top: 0;
    background-color: #111;
    z-index: 1000;
}

#nav {
    padding-left: 1rem;
    padding-right: 1rem;
}

.page {
    background-color: rgba(11, 11, 11, 0.69);
    padding: 2rem;
    margin: 4rem auto;
    width: 60%;
    border: 2px solid #FFF;
    border-radius: 10px;
    text-align: center;
    font-size: 125%;
}

a:link, a:visited {
    color: white;
}

a:hover {
    color: yellow;
}

a:active {
    color: red;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .page {
        font-size: 1rem;
        padding: 1rem;
    }
    p {
        font-size: 1rem;
        padding-left: 0;
        padding-right: 0;
    }
    #me {
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 1100px) {
    .sticky {
        justify-content: center;
        text-align: center;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 0;
        margin-top: -1rem;
        margin-bottom: 0rem;
    }
    p {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}