* { 
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    /*background-color: #1f1f1f;*/
    margin: 0px;
    color: white;
}

.page, h1, p {
    overflow-wrap: break-word;
    word-break: break-word;
}

.custom-icon {
    font-size: 1.5rem;
    color: #ffffff;
}

.custom-navbar, .navbar-brand {
    background-color: #111;
    font-size: 1.2rem;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
    color: #ffffff; /* white text */
}

.custom-navbar .nav-link:hover, .navbar-brand:hover{
    color: yellow;
}

#background {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h1 {
    text-align: center;
    font-size: 300%;
    margin-bottom: 2.5rem;
}

p {
    padding-left: 3rem;
    padding-right: 3rem;
}

#me {
    display: block;
    width: 100%;
    max-width: clamp(150px, 20vw, 210px);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    object-fit: cover;
}

.page {
    background-color: rgba(11, 11, 11, 0.69);
    padding: 2rem;
    margin: 4rem auto;
    width: 60%;
    border: 2px solid #FFF;
    border-radius: 10px;
    text-align: center;
    font-size: 125%;
}

.image-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

@media (max-width: 320px) {
    h1 {
        font-size: clamp(1rem, 10vw, 2rem);
        margin-bottom: 1rem;
    }
    .page {
        font-size: 1rem;
        padding: 1rem;
    }
    p {
        font-size: clamp(0.3rem, 10vw, 0.5rem);
        padding-left: 0rem;
        padding-right: 0rem;
    }
    #me {
        max-width: clamp(100px, 20vw, 150px);
        margin-bottom: 1rem;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    h1 {
        font-size: clamp(2rem, 10vw, 3rem);
        margin-bottom: 1rem;
    }
    .page {
        font-size: 1rem;
        padding: 1rem;
    }
    p {
        font-size: clamp(0.5rem, 10vw, 0.7rem);
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #me {
        width: clamp(100px, 20vw, 150px);
        margin-bottom: 1.5rem;
    }
} 

@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: clamp(3rem, 10vw, 3.5rem);
    }
    p {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: clamp(0.6rem, 10vw, 1rem);
    }
}