* { 
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    /*background-color: #1f1f1f;*/
    margin: 0px;
    color: white;
}

#background {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h1 {
    text-align: center;
    font-size: 250%;
}

#tech_stack {
    text-align: center;
    font-size: 300%;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
    font-size: 165%;
}

#me {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.sticky {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    margin-top: -1rem;
    margin-bottom: 0rem;
    text-align: left;
    font-size: 175%;
    position: sticky;
    top: 0px;
    background-color: #111111;
    z-index: 1000;
}

#nav {
    padding-left: 1rem;
    padding-right: 1rem;
}

.page {
    background-color: rgba(11, 11, 11, 0.69);
    padding: 2rem;
    margin: 4rem auto;
    width: 60%;
    border: 2px solid #FFF;
    border-radius: 10px;
    text-align: center;
    font-size: 125%;
}

a:link, a:visited {
    color: white;
}

a:hover {
    color: yellow;
}

a:active {
    color: red;
}

/*

footer {
    text-align: center;
    margin: -15px 0 -30px 0;
    font-size: 75%;
}

*/