/* Global Styles */
* { 
    text-decoration: none;
}

/*
body {
    background-color: #121212;
    font-family: papyrus;
    font-size: 200%;
    color: white;
}

hr {
    background-color: purple;
    margin: 0 100px 50px 100px;
    padding: 3px;
}

// Header & Navigation
#header {
    padding-top: 50px;
    margin-bottom: 0px;
    font-size: 300%;
}

#nav {
    margin: 0 0 60px 0;
    font-size: 110%;
    position: sticky;
    top: 0px;
    background-image: url("../images/Sticky.png");
}

// Images
#me {
    float: right;
    width: 325px;
    height: 325px;
    margin-right: 120px;
}

#hand {
    float: left;
    margin-left: 110px;
    width: 32%;
}

#logo {
    float: left;
    margin-left: 142px;
    width: 25%;
    margin-top: -70px;
}

// Text Styles
h1 {
    text-align: center;
    font-size: 200%;
}

.right {
    text-align: right;
}

h2 {
    text-align: center;
}

h5 {
    text-align: right;
}

// List Items
li {
    margin: 0 70px 0 750px;
}

// Links
a:link.click {
    color: red;
    margin: 0 35px;
}

a:link.link {
    color: red;
}

a:hover.click, a:hover.link {
    color: yellow;
}

a:active.click, a:active.link {
    color: white;
}

a:visited.click, a:visited.link {
    color: purple;
}

// Footer
footer {
    text-align: center;
    margin: -15px 0 -30px 0;
    font-size: 75%;
}

*/