* { 
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    /*background-color: #1f1f1f;*/
    margin: 0px;
    color: white;
}

#background {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.page, h1, p {
    overflow-wrap: break-word;
    word-break: break-word;
}

.custom-icon {
    font-size: 1.5rem;
    color: #ffffff;
}

.custom-navbar, .navbar-brand {
    background-color: #111;
    font-size: 1.2rem;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
    color: #ffffff;
}

.custom-navbar .nav-link:hover, .navbar-brand:hover{
    color: yellow;
}

h1 {
    text-align: center;
    font-size: 300%;
    margin-bottom: 1rem;
}

.page {
    background-color: rgba(11, 11, 11, 0.69);
    padding: 2rem;
    margin: 4rem auto;
    width: 42%;
    border: 2px solid #FFF;
    border-radius: 10px;
    text-align: center;
    font-size: 125%;
    overflow-y: auto;
    box-sizing: border-box;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

a:active {
    color: red;
}

.folder-row {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 27px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}

.folder {
    cursor: pointer;
    text-align: center;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: transform 0.3s ease;
}

.folder p {
    font-size: 0.9rem;
    line-height: 1.2;
    max-width: 100px;
    word-break: normal;
}

.folder img {
    width: 100px;
    height: auto;
    transition: transform 0.2s ease;
}

.folder:hover {
    transform: scale(1.1);
}

.first-website img {
    width: 90%;
    height: auto;
    max-width: 90%;
    border-radius: 10px;
    display: block;
    margin: 1rem auto;
    border: 2px solid white;
}

.first-website {
    transition: transform 0.3s ease;
}

.first-website:hover {
    transform: scale(1.05);
}

.first-website a:hover p {
    color: white;
}

@media (max-width: 320px) {
    body {
        font-size: 0.85rem;
    }
    h1 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    .page {
        font-size: 0.85rem;
        padding: 1rem;
        width: 95%;
        margin: 2rem auto;
        overflow: hidden;
    }
    .folder-row {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-top: 1rem;
    }
    .folder {
        margin: 0;
        width: 100%;
        max-width: 200px;
    }
    .folder img {
        width: 60px;
        height: auto;
    }
    .folder p {
        font-size: 0.8rem;
        text-align: center;
        max-width: 100%;
        word-wrap: normal;
        word-break: normal;
    }
    .first-website img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .first-website {
        width: 100%;
        max-width: 95%;
        margin: auto;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .page {
        width: 60%;
    }
    h1 {
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }
    .folder-row {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .folder img {
        width: 75px;
    }
    .folder p {
        font-size: 0.85rem;
    }
    .first-website img {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0rem 1.5rem 1rem 1.5rem;
        background-color: #111;
        z-index: 9999;
        max-height: 0; /* Initially hidden */
        opacity: 0;
        overflow: hidden; /* Prevents content spilling */
        transition: max-height 0.4s ease-out, opacity 0.3s ease-out;
    }
    .navbar-collapse.show {
        max-height: 500px; /* Set this to a value that suits your content */
        opacity: 1;
    }
    .navbar {
        position: relative;
        z-index: 1050;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: 275%;
        margin-bottom: 1.5rem;
    }
    .page {
        width: 50%;
    }
    .folder-row {
        gap: 100px;
    }
    .folder img {
        width: 90px;
    }
    .first-website img {
        width: 325px;
    }
}
